*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer{
    display: flex;
}

.right{
    width: 100%;
}

.post-card{
    margin: 20px 30px;
}

.reactions{
    margin: 15px 0 0 0;
}

.createpost{
    width: 80%;
    margin-left: 10%;
    margin-top: 60px;
}